<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TBWORKS___</title>
</head>
<body>
    <header class="web-bar" id="header">
        <div class="web-bar-menu">
            <!-- <button id="toggleNav">
                <span></span>
                <span></span>
                <span></span>
            </button> -->
            <input type="checkbox" id="toggleNav" class="hamburger-checkbox" checked>
                <label for="toggleNav" class="hamburger">
                    <span class="line" id="hamburger-line1"></span>
                    <span class="line" id="hamburger-line2"></span>
                    <span class="line" id="hamburger-line3"></span>
                </label>
        </div>
        <nav id="webNavigation" class="web-bar-navigation">
                <ul class="menu-list">
                    <li class="menu-item active"><a href="#">INTRO</a></li>
                    <li class="menu-item"><a href="#/aboutme">ABOUT ME</a></li>
                    <li class="menu-item"><a href="#/projects">PROJECTS</a></li>
                    <li class="menu-item"><a href="#/skills">SKILLS</a></li>
                    <li class="menu-item certificate"><a href="#/certificates">CERTIFICATES</a></li>
                </ul>
            </nav>
            <div class="landing-header-container">
                <a href="#"><h1 id="TBWORKS">TBWORKS___</h1></a>
                <div class="landing-header-container-text"> 
                    <div class="repeating-text">
                        <a href="mailto:erickkbdn8120@gmail.com" class="contact-link"><span class="repeating-text-anchor">CONTACT ME</span></a>
                        <a href="mailto:erickkbdn8120@gmail.com" class="contact-link"><span class="repeating-text-anchor">CONTACT ME</span></a>
                        <a href="mailto:erickkbdn8120@gmail.com" class="contact-link"><span class="repeating-text-anchor">CONTACT ME</span></a>
                        <a href="mailto:erickkbdn8120@gmail.com" class="contact-link"><span class="repeating-text-anchor">CONTACT ME</span></a>
                        <a href="mailto:erickkbdn8120@gmail.com" class="contact-link"><span class="repeating-text-anchor">CONTACT ME</span></a>
                    </div>
                    <div class="repeating-text">
                    <a href="mailto:erickkbdn8120@gmail.com" class="contact-link"><span class="repeating-text-anchor">CONTACT ME</span></a>
                    <a href="mailto:erickkbdn8120@gmail.com" class="contact-link"><span class="repeating-text-anchor">CONTACT ME</span></a>
                    <a href="mailto:erickkbdn8120@gmail.com" class="contact-link"><span class="repeating-text-anchor">CONTACT ME</span></a>
                    <a href="mailto:erickkbdn8120@gmail.com" class="contact-link"><span class="repeating-text-anchor">CONTACT ME</span></a>
                    <a href="mailto:erickkbdn8120@gmail.com" class="contact-link"><span class="repeating-text-anchor">CONTACT ME</span></a>
                    </div>
                </div>
            </div>
    </header>
    <div class="mobile-menu-container">
        <div class="mobile-menu-header">
            <div class="mobile-menu-toggle">☰</div>
            <a href="#">
                <h1 id="TBWORKS">TBWORKS___</h1>
            </a>
        </div>
        <ul class="mobile-menu-list">
            <!-- Mobile-specific menu items here -->
            <li><a href="#">INTRO</a></li>
            <li><a href="#/aboutme">ABOUT ME</a></li>
            <li><a href="#/projects">PROJECTS</a></li>
            <li><a href="#/skills">SKILLS</a></li>
            <li><a href="#/certificates">CERTIFICATES</a></li>
        </ul>
    </div>
    <main id="mainContent">
    </main>
    <!-- <footer>
        Image by <a href="https://www.freepik.com/free-vector/realistic-grainy-texture_21846590.htm#from_view=detail_serie">Freepik</a>
    </footer> -->
</body>
</html>
